{% load i18n %}

{% block subject %}
    {% blocktrans %}{{ site_name }} - Changement Mot de passe reussi {% endblocktrans %}
{% endblock %}

{% block text_body %}
    {% trans "Votre mot de passe a été modifié avec succès!" %}

    {% trans "Cordialement" %}

    {% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
    <p>{% trans "Votre mot de passe a été modifié avec succès!" %}</p>

    <p>{% trans "Cordialement" %}</p>

    <p>{% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
