{% load i18n %}

{% block subject %}
    {% blocktrans %}Reinitialisation Mot de passe sur {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
    {% blocktrans %}Vous recevez cet email parce que vous avez initié une
        reinitialisation de votre compte  {{ site_name }}.{% endblocktrans %}

    {% trans "Veuillez utiliser votre code de renitialisation:" %}
    {{ user.reset_pwd_code }}
    {% trans "Votre compte utilisateur: " %} {{ user.get_username }}

    {% trans "Cordialement" %}

    {% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
    <p>{% blocktrans %}Vous recevez cet email parce que vous avez initié une
        reinitialisation de votre compte  {{ site_name }}.{% endblocktrans %}</p>

    <p>{% trans "Veuillez utiliser votre code de renitialisation:" %}</p>
    <a href="#">{{ user.reset_pwd_code }}</a>
    <p>{% trans "Votre compte utilisateur: " %} <b>{{ user.get_username }}</b></p>

    <p>{% trans "Cordialement" %}</p>

    <p>{% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
